:root {
    --primary: #0B0E1A;
    --secondary: #111827;
    --border: #1C2333;
    --links: #00C9A7;
    --hover: #00957A;
    --centerText: #B2F0E5;
    --text: #FFFFFF;
}
/* 
Orokin Roxo
#7B5EA7
Manuais / Guias
Grineer Âmbar
#E07B39
Builds / Damage
Corpus Azul
#3A7BD5
Info / Novidades */